.main_box_tw{
    height: 98%;
    /*background-color: #f6f6f6;*/
    padding: 0.5rem;
}
.tw_box_title {
    width: 100%;
    height: auto;
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 0.5rem;
}
.tw_box_title p{
    text-align: left;
    display: inline-block;  /*使P的宽度根据文字的宽度伸缩*/
}


.tw_right_font {
    width: auto;
    padding: 20px;
    background: #fff;
    line-height: 1.5rem;
}
.tw_box_ad{
    font-size: 0.8rem;
    height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
}
.article_date{
    float: right;
}

.article_tags{
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-left: 2rem;
}

.article_tags span{
    background-color: #ecf0f1;
    color: #878d97;
    padding: 0.3rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
