/*去除浏览器样式*/
html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}
/*
<列表页
*/
.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px 5px 15px 0px;
    position: relative;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}

/* 必要布局样式css */
.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.m-slider {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.aui-flex-box h1 {
    font-size: 1.2rem;
    color: #333333;
}

.aui-course-img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.aui-course-img img {
    width: 100%;
    height: 100px;
    display: block;
    border: none;
}

.aui-flex-box .flex_box_title{
    font-size: 1rem;
    font-weight: bold;
}

.aui-flex-box .aui_title{
    width: 100%;
    font-size: 1.2rem;
    color: #323232;
    float: left;
    margin-top: 0.5rem;

}.aui-flex-box .aui_author{
     width: 100%;
     font-style: normal;
     font-size: 0.9rem;
     margin-top: 0.5rem;
     float: left;
     color: #323232;
 }

.aui-flex-box .aui_des {
    font-style: normal;
    /*color: #999;*/
    float: left;
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #323232;
}

.aui-flex-box .aui_des .click_num{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem;
}

.aui-course-list .b-line:after {
    width: 92%;
    left: 15px;
}
.aui-course-list .aui-flex-box{
    height: 7rem;
}

.aui-course-list{
    margin-bottom: 5rem;
}


/*tab切换*/

.tabDiv{
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.tabTitle{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

#tabs,#tabs2,#tabs3,#tabs4,#tabs5 {
    width: 100%;
    margin: 0 auto;
    font-size: 1.1rem;
}

#tabs li,#tabs2 li,#tabs3 li,#tabs4 li,#tabs5 li {
    float: left;
    width: 70px;
    flex-shrink: 0;
    margin: 0px 10px 0px 10px;
}

#tabs li a,#tabs2 li a,#tabs3 li a,#tabs4 li a,#tabs5 li a {
    display: block;
    text-decoration: none;
    color: #000;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
}

/*#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {
    background: rgb(78, 74, 99);
}*/

#tabs_container {
    padding: 1rem;
    position: relative;
    background: white;
}
.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hidescale {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
}

.showscale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}


.tabulous_active {
    background: white !important;
    color: #F60 !important;
    border-bottom:1px solid #F60;
}

.tabulousclear {
    display: block;
    clear: both;
}
#tabs-0{
    width: 100%;
    padding-bottom: 5rem;
}
#tabs-1{
    top:0.5rem !important;
    width: 100%;
}
#tabs-2{
    width: 100%;
}