/*去除浏览器样式*/
html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}
.main_box_tw{
    width: 100%;
    /*height: 98%;*/
    background-color: #f6f6f6;
    padding: 0rem 0.6rem;
}
.tw_box_title {
    width: 100%;
    height: auto;
    font-size: 19px;
    color: #000000;
    text-align: center;
    padding-top: 0.5rem;
    background-color: #ffffff;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
}
.tw_box_title p{
    text-align: left;
    display: inline-block;  /*使P的宽度根据文字的宽度伸缩*/
}


.tw_right_font {
    width: auto;
    background: #fff;
    line-height: 1.8rem;
    padding: 0rem 10px 10px;
    font-size: 0.8rem;
    color:#999;
}
.tw_box_main_guest{
    font-size: 1rem;
    height: 5rem;
    line-height: 1.5rem;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    background-color: #ffffff;
}
.main_guest{
    float: left;
    width: 100%;
}
.main_book{
    float: left;
    width: 100%;
    margin-top: 0.5rem;
}

.main_book span{
    background-color: #ecf0f1;
    color: #878d97;
    padding: 0.3rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.tab_course{
    background-color: #fff;
    height: 3rem;
    margin-top: 0.7rem;
    font-size: 0.9rem;
}



body{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#nav{
    height: 2.8125rem;
    background-color: white;
    color: gray;
    @include flex(center, center);
}

#nav .sub-item{
    text-align: center;
    -webkit-flex: 1;
    flex: 1;
    line-height: 2.8125rem;
    width: 100%;
    height: 100%;
    border-bottom: none;

}

.selected{
    border-bottom: 0.0625rem solid #007aff;
}

#main{
    min-height: 100%;
}

/*课程详情页tab切换*/
#tabs,#tabs2,#tabs3,#tabs4,#tabs5 {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
}

#tabs li,#tabs2 li,#tabs3 li,#tabs4 li,#tabs5 li {
    float: left;
    margin-right: 2px;
    width: 24%;
}

#tabs li a,#tabs2 li a,#tabs3 li a,#tabs4 li a,#tabs5 li a {
    display: block;
    text-decoration: none;
    color: #000;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
}

/*#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {
    background: rgb(78, 74, 99);
}*/

#tabs_container {
    padding: 1rem;
    position: relative;
    background: white;
    font-size: 1rem;
    margin-top: 0.7rem;
    border-top: 8px solid #f6f6f6;
    width: 100%;
}
.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hidescale {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
}

.showscale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}


.tabulous_active {
    background: white !important;
    color: #F60 !important;
    border-bottom:1px solid #F60;
}

.tabulousclear {
    display: block;
    clear: both;
}

#tabs-2{
    top:0.5rem !important;
    margin-bottom: 5rem;
}

#tabs-2 span{
    margin-top: 1rem;
}

#tabs-2 ul li{
    width: 100%;
    border-bottom:1px solid #dad8d8;
    line-height: 2.3rem;
}

.aui_video video{
    width: 100%;
}

#tabs-1{
    width: 100%;
}
#tabs-3{
    width: 100%;
    margin-bottom: 5rem;
}

#tabs-3 audio{
    width: 100%;
}

#tabs-4{
    width: 100%;
    margin-bottom: 5rem;
}
#tabs-4 video{
    width: 100%;
}

#tabs-4 audio{
    width: 100%;
}


#tabs-4 span{
   line-height: 2rem;
}

.content{
    height: auto;
    display: block;
    background: #fff;
    padding-right: 0.5rem;
    line-height: 2.5rem;
    /*padding-bottom: 5rem;*/
}
.content p{
    background: #fff;
}

.videoHeight{
    display: none;
}

.nav_bottom a.comment {
    background-image:url(../images/comment.png);
    background-size: 1.5rem 1.5rem;
}
.nav_bottom a.collect {
    background-image:url(../images/collect.png);
    background-size: 1.5rem 1.5rem;
}
.nav_bottom a.support {
    background-image:url(../images/support.png);
    background-size: 1.5rem 1.5rem;
}

.tab_1_title{
    /*color: blue;*/
}

.aui-center{
    margin-left:0 !important;
}

/*禁止下载视频*/
/*
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 100px);
}*/
